/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(images/picture.png);
}
.markItUp .markItUpButton2 a {
	background-image:url(images/link.png);
}
.markItUp .markItUpButton3 a {
	background-image:url(images/colors.png);
}

.markItUp .markItUpButton4 a {
	background-image:url(images/quotes.png); 
}
.markItUp .markItUpButton5 a {
	background-image:url(images/clean.png);
}

.markItUp .preview a {
	background-image:url(images/preview.png);
}
