/* 
    Document   : general
    Created on : Jan 16, 2013, 12:43:27 PM
    Author     : mattis
    Description:
        Purpose of the stylesheet follows.
*/

* { font-family: Verdana, Geneva, sans-serif; }
h1, p, a, body {
}

body{
    overflow: hidden;
    background:   #0E242D;
}

.imagesInPost{
    
    max-width: 100%;
      /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=75);

  /* Netscape */
  -moz-opacity: 0.75;

  /* Safari 1.x */
  -khtml-opacity: 0.55;

  /* Good browsers */
  opacity: 0.75;
    -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.imagesInPost:hover{
    cursor: pointer;
      /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

  /* IE 5-7 */
  filter: alpha(opacity=100);

  /* Netscape */
  -moz-opacity: 1;

  /* Safari 1.x */
  -khtml-opacity: 1;

  /* Good browsers */
  opacity: 1;
  
 
  
}
.maincontainer{
  width: 90%;
top: 5%;
bottom: 5%;
left: 10%;
right: 10%;
    text-align: center;
    margin-left: auto ;
    margin-right: auto ;

}
.maincontainer table{
}




.scrollcontainer{
    overflow-x: hidden;
    overflow-y: auto;
top: 5%;
bottom: 5%;
left: 5%;
right: 5%;
}

.contentarea{
    background-color: #1c3c41;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 1px #315b66;
    -webkit-box-shadow: inset 0 1px #315b66;
    box-shadow: inset 0 1px #315b66;

}

.selectable-thread{
     font-size: 75%;

}

.ui-content {background: #274850; 
             color: #C9C9C9; 
             margin: 5px;
             -webkit-border-radius: 5px;
             -moz-border-radius: 5px;
             -ms-border-radius: 5px;
             -o-border-radius: 5px;
             border-radius: 5px;
             -moz-box-shadow: inset 0 1px #315b66;
             -webkit-box-shadow: inset 0 1px #315b66;
             box-shadow: inset 0 1px #315b66;

}
.ui-content-sticky{background: #18243a; 
                   color: #C9C9C9; 
                   margin: 5px;
}
.ui-content-sticky:hover{background: #122e3a; 
                           color: #C9C9C9; 
                           margin: 5px;
}
.ui-content-selected{background: #0e242d; 
                     color: #C9C9C9; 
                     margin: 5px;
}
.ui-content-selected:hover{background: #122e3a; 
                           color: #C9C9C9; 
                           margin: 5px;
}


.transformice-thread-header{
    background: #1c3c41;
    margin-bottom:  10px;
    margin-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 1px #315b66;
    -webkit-box-shadow: inset 0 1px #315b66;
    box-shadow: inset 0 1px #315b66;

}
.transformice-thread-post{
    background: #1c3c41;
    margin-bottom:  10px;
    margin-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 1px #315b66;
    -webkit-box-shadow: inset 0 1px #315b66;
    box-shadow: inset 0 1px #315b66;

}


.authorcolumn{
    min-width: 120px;
    max-width: 120px;
}

.quote{
    border-left:7px solid;
    color:#696969;
    margin-left:5pt;
    padding:3px;
    width:90%;
}

.quoting{
    font-weight:bold;
    border-top:0px;
    color:#009D9D;
    margin-left:3pt;
    width:90%;
}




/* <BV> */
.colordiv-1{    color:#2F7FCC;}
/* <R> */
.colordiv-2{    color:#CB546B;}
/* <BL> */
.colordiv-3{color:#6C77C1}
/*<J> */
.colordiv-4{color:#BABD2F}
/*<N> */
.colordiv-5{color:#C2C2DA}
/*<G> */
.colordiv-6{color:#606090}
/*<V> */
.colordiv-7,.colordiv-19{color:#009D9D}
/*<VP> */
.colordiv-8{color:#2ECF73}
/*<VI> */
.colordiv-9{color:#C53DFF}
/*<ROSE> */
.colordiv-10{color:#ED67EA}
/* <CV> */
.colordiv-11{    color:#2ECF73;}
/* defined for mapcrew by moepl */
.colordiv-12{    color:#00FFFF;}
/*<CH> */
.colordiv-13{color:#98E2EB}

/* <CR> */
.colordiv-14{    color: #EB1D51;}
/*<T> */
.colordiv-15{color:#A4CF9E}
/* <CJ> */
.colordiv-17{    color: #BABD2F;}



#threadcontainer{
    vertical-align: top;
}
#ForumsAndThreads{
	width:100%;
}
#posterandthreadcontent{
	overflow: auto;
}
#ForumsAndThreads.threadlist{
 /*width: 25%;*/
}

.ui-content:hover{
    background: #3a6c77;
}

.ui-content-thread-read{
   color:gray;
}

/* forward and backwards buttons */
.navbutton{
    font-size: 0.75em;
}
.dateunderauthor {
    font-size: 0.6em;
}

#nicknameinput,#passwordinput{
    background-color: #0e242d; 
    color: #009D9D;
    padding: 5px;
    border-color: #1c3c41;
}